.root {
  flex-grow: 1;
}

.title {
  flex-grow: 1;
  text-align: left;
}

.AddMovieModal {
  max-width: 400px;
  max-height: 800px;
  margin: auto;
}

.MuiDialogContent-root {
  padding: 0 !important;
}
