.root {
  flex-grow: 1;
}

.title {
  flex-grow: 1;
  text-align: left;
  color: white;
  text-decoration: none;
}

.AddMovieModal {
  max-width: 400px;
  max-height: 800px;
  margin: auto;
}

.MuiDialogContent-root {
  padding: 0 !important;
}

#lang-button {
  margin-left: 0.5rem;
  border-bottom: "1px solid white";
  background-color: white !important;
  border-radius: 0.3rem;
}
