.MovieCardRoot {
  min-width: 250px;
}

.MovieCardDiv {
  width: 250px;
  height: 463px;
  margin: 1rem;
}

.media {
  height: 370px;
}

.details {
  text-align: left;
}

.year {
  padding: 5px;
  width: 32px;
  float: right;
}

.MoreButtonDiv {
  position: relative;
  text-align: right;
  height: 1vh;
  width: 1rem;
}

.MovieCardDiv > .MoreButtonDiv > .MoreButton {
  display: none;
}

.MovieCardDiv:hover > .MoreButtonDiv > .MoreButton {
  display: inherit;
  position: absolute;
  left: 198px;
  top: 12px;
  z-index: 3;
  opacity: 0.9;
  color: white;
  border: 5px white solid;
}

.MoreButton {
  position: absolute;
  left: 198px;
  top: 12px;
  z-index: 3;
  opacity: 0.9;
  color: white;
  border: 5px white solid;
}

.DeleteConfirmModal {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}

.DeleteConfirmModal > div > div {
  padding: 1rem;
}

